$color1: #1d1d1f;
$color2: #FF08A1;
$color3: #E5FF08;


$fuente: 'PT Sans Narrow', sans-serif;
		 

h1{
	background-color: $color1;
		
}

a{
	font-family: $fuente;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;

}

.rotulo1{
	background-color: #1d1d1f;
	flex:1;
	padding: 5rem;
	margin:1px;

	color: $color2;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	font-family: $fuente;

	text-align: center;
	text-transform: uppercase;
}
.rotulo2{ 

    flex:4;
	padding: 6rem;
	margin:1px; 
	text-align: center;

	color: black;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	font-family: $fuente;

}

textarea{
font-family: $fuente;
}

.rotulobox1{
	background-color: #1d1d1f;
	flex:1;
	padding: 5rem;
	margin:1px;

	color: $color3;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	font-family: $fuente;

	text-align: center;
	text-transform: uppercase;
}
.rotulobox2{ 

    flex:4;
	padding: 4rem;
	margin:1px; 
	text-align: center;

	color: black;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	font-family: $fuente;
	

}


